/** Checkbox Select Multiple CSS **/

.multiple-columns {
  columns: 220px 2;
  list-style: none;
}

.double-columns {
  columns: 220px 2;
  list-style: none;
}

.multiple-select-form{
    max-height: 320px;
    overflow-y: auto;
}

.multiple-select-form:hover{
    border-radius: 10px;
    border: 1px solid #d0d0d0;
}
